<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Рецепты</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
</head>
<body>
<div th:insert="~{parts/navbar :: navbar}"></div>
<br>


<div class="container">

    <form th:method="GET" th:action="@{/recipes}">
        <label for="startDate">Начальная дата: </label>
        <input class="form-control" th:value="${start_date}" type="date" id="startDate" name="start_date"/>

        <label for="endDate">Конечная дата: </label>
        <input class="form-control" th:value="${end_date}" type="date" id="endDate" name="end_date"/>

<!--        <select class="form-select" id="mixType" name="mix_type">-->
<!--            <option value="">Не выбрано</option>-->
<!--            <option th:each="mixType : ${mixTypes}" th:text="${mixType.getType()}"-->
<!--                    th:selected="${mix_type == mixType.getType()}">-->
<!--            </option>-->
<!--        </select>-->

        <table class="table table-striped table-bordered caption-top">
            <caption>Классификация асфальтобетонной смеси</caption>
            <thead>
            <tr>
                <th class="text-center align-middle" scope="col">Тип смеси</th>
                <th class="text-center align-middle" scope="col">Конструктивный слой</th>
                <th class="text-center align-middle" scope="col">Условия движения</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <select class="form-select" id="mixType" name="mix_type">
                        <option th:value="${''}" th:selected="${!mix_type.isPresent() || mix_layer.get().isEmpty()}">Не выбрано</option>
                        <option th:each="mixType : ${mixTypes}" th:text="${mixType.getType()}"
                                th:selected="${mix_type.orElse(null) == mixType.getType()}">
                        </option>
                    </select>
                </td>
                <td>
                    <select class="form-select" id="mixLayer" name="mix_layer">
                        <option th:value="${''}" th:selected="${!mix_layer.isPresent() || mix_layer.get().isEmpty()}">Не выбрано</option>
                        <option th:each="mixLayer : ${mixLayers}" th:text="${mixLayer.getLayer()}"
                                th:selected="${mix_layer.orElse(null) == mixLayer.getLayer()}">
                        </option>
                    </select>
                </td>
                <td>
                    <select class="form-select" id="MixTraffic" name="mix_traffic">
                        <option th:value="${''}" th:selected="${!mix_traffic.isPresent() || mix_layer.isEmpty()}">Не выбрано</option>
                        <option th:each="mixTraffic : ${mixTraffics}" th:text="${mixTraffic.getTraffic()}"
                                th:selected="${mix_traffic.orElse(null) == mixTraffic.getTraffic()}">>
                        </option>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Показать</button>
    </form>

    <table class="table table-striped table-bordered caption-top">
        <caption>Список рецептов</caption>
        <thead>
        <tr>
            <th class="text-center" scope="col">id</th>
            <th scope="col">Смесь</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Дата изменения</th>
            <th class="text-center" scope="col">Редактировать</th>
            <th class="text-center" scope="col">Удалить</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="recipe : ${recipes}">
            <tr>
                <th class="text-center" scope="row">
                    <a th:href="@{/recipes/{id}(id = ${recipe.getId()})}" th:text="${recipe.getId()}"></a>
                </th>
                <td th:text="${recipe.getMixType().getType() + recipe.getMixLayer().getLayer() + recipe.getMixTraffic().getTraffic()}"></td>
                <td th:text="${recipe.getCreateDate()}"></td>
                <td th:text="${recipe.getModifyDate()}"></td>
                <td class="text-center">
                    <form th:method="GET" th:action="@{/recipes/{id}/edit(id=${recipe.getId()})}">
                        <button type="submit" class="btn btn-success btn-sm">Редактировать</button>
                    </form>
                </td>
                <td class="text-center">
                    <form th:method="DELETE" th:action="@{/recipes/{id}(id=${recipe.getId()})}">
                        <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                    </form>
                </td>

            </tr>
        </div>
        </tbody>
    </table>
    <form th:method="GET" th:action="@{/recipes/new}">
        <button type="submit" class="btn btn-primary">Добавить новый рецепт</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>