<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Назначение асфальтосмесительной установки в филиал</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
</head>
<body>
<div th:insert="~{parts/navbar :: navbar}"></div>
<br>

<div class="container">
    <p class="h3">Назначение асфальтосмесительной установки в филиал</p>
    <br>
    <!--Отрисовка информации об установке-->
    <table class="table table-striped table-bordered caption-top">
        <caption>Информация об асфальтосмесительной установке</caption>
        <thead>
        <tr>
            <th class="text-center align-middle" scope="col">Модель</th>
            <th class="text-center align-middle" scope="col">Производительность, т/ч</th>
            <th class="text-center align-middle" scope="col">Месторасположение</th>
            <th class="text-center align-middle" scope="col">Филиал</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-center" th:text="${plant.getModel()}"></td>
            <td class="text-center" th:text="${plant.getProductivity()}"></td>
            <td class="text-center" th:text="${plant.getLocation()}"></td>
            <td class="text-center" th:text="${plant.getUnit() != null} ? ${plant.getUnit().getName()} : 'не назначен'"></td>
        </tr>
        </tbody>
    </table>
    <!--Выбор филиала в который назначается установка -->
    <form th:method="PATCH" th:action="@{/plants/{id}/add(id=${plant.getId()})}">
        <div class="input-group mb-3">
            <span class="input-group-text align-middle">Назначить установку в филиал:</span>
            <select class="form-select" th:object="${unit}" id="unit" th:field="*{id}">
                <option th:each="unit : ${units}" th:value="${unit.getId()}"
                        th:text="${unit.getName()}">
                </option>
            </select>
            <input type="submit" class="btn btn-primary" value="Назначить"/>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>