<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение партии</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
</head>
<body>
<br>
<form class="mb-3" th:method="PATCH" th:action="@{/batches/{id}(id=${batch.getId()})}" th:object="${batch}">
    <div class="container">
        <div class="input-group mt-2">
            <span class="input-group-text">Асфальтосмесительная установка:</span>
            <select class="form-select" id="unit" th:field="*{plantId}">
                <div th:each="plant : ${plants}">
                    <option  th:value="${plant.getId()}"
                            th:text="${plant.getModel() + ' ' + plant.getLocation()}">
                    </option>
                </div>
            </select>
        </div>
        <div class="input-group row mt-2">
            <span class="input-group-text col-md-2">Количество:</span>
            <input type="text" th:field="*{quantity}" class="form-control col-md-6">
        </div>
        <button type="submit" class="btn btn-primary mt-4">Редактировать</button>
    </div>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>