<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Партии</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
</head>
<body>
<div th:insert="~{parts/navbar :: navbar}"></div>
<br>
<div class="container">
    <form th:method="GET" th:action="@{/batches/new_step1}">
        <button type="submit" class="btn btn-primary">Добавить новую партию</button>
    </form>
    <br>
    <form th:method="GET" th:action="@{/batches}">
        <label for="startDate">Начальная дата: </label>
        <input class="form-control" th:value="${start_date}" type="date" id="startDate" name="start_date"/>
        <br>
        <label for="endDate">Конечная дата: </label>
        <input class="form-control" th:value="${end_date}" type="date" id="endDate" name="end_date"/>
        <br>
        <label for="unit">Наименование филиала: </label>
        <select class="form-select" id="unit" name="selected_unit_to_controller">
            <option th:value="${0}"
                    th:selected="${!selected_unit_from_controller.isPresent() || selected_unit_from_controller.get() == 0}">
                Не выбрано
            </option>
            <option th:each="unit : ${units}" th:value="${unit.getId()}" th:text="${unit.getName()}"
                    th:selected="${selected_unit_from_controller.orElse(0) == unit.getId()}">
            </option>
        </select>
        <br>
        <table class="table table-striped table-bordered caption-top">
            <caption>Классификация асфальтобетонной смеси</caption>
            <thead>
            <tr>
                <th class="text-center align-middle" scope="col">Тип смеси</th>
                <th class="text-center align-middle" scope="col">Конструктивный слой</th>
                <th class="text-center align-middle" scope="col">Условия движения</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <select class="form-select" id="mixType" name="mix_type">
                        <option th:value="${''}" th:selected="${!mix_type.isPresent() || mix_layer.get().isEmpty()}">Не
                            выбрано
                        </option>
                        <option th:each="mixType : ${mixTypes}" th:text="${mixType.getType()}"
                                th:selected="${mix_type.orElse(null) == mixType.getType()}">
                        </option>
                    </select>
                </td>
                <td>
                    <select class="form-select" id="mixLayer" name="mix_layer">
                        <option th:value="${''}" th:selected="${!mix_layer.isPresent() || mix_layer.get().isEmpty()}">Не
                            выбрано
                        </option>
                        <option th:each="mixLayer : ${mixLayers}" th:text="${mixLayer.getLayer()}"
                                th:selected="${mix_layer.orElse(null) == mixLayer.getLayer()}">
                        </option>
                    </select>
                </td>
                <td>
                    <select class="form-select" id="MixTraffic" name="mix_traffic">
                        <option th:value="${''}" th:selected="${!mix_traffic.isPresent() || mix_layer.isEmpty()}">Не
                            выбрано
                        </option>
                        <option th:each="mixTraffic : ${mixTraffics}" th:text="${mixTraffic.getTraffic()}"
                                th:selected="${mix_traffic.orElse(null) == mixTraffic.getTraffic()}">>
                        </option>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Показать</button>
    </form>
    <br>
    <table class="table table-striped table-bordered caption-top">
        <caption>Партии</caption>
        <thead>
        <tr>
            <th class="text-center" scope="col">id</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Дата изменения</th>
            <th scope="col">Создатель</th>
            <th scope="col">Асфальтосмесительная установка</th>
            <th scope="col">Рецепт</th>
            <th scope="col">Количество, тн</th>
            <th class="text-center" scope="col">Редактировать</th>
            <th class="text-center" scope="col">Удалить</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="batch : ${batches}">
            <tr class="text-center">
                <th scope="row">
                    <a th:href="@{/batches/{id}(id = ${batch.getId()})}" th:text="${batch.getId()}"></a>
                </th>
                <td th:text="${#temporals.format(batch.getCreateDate(), 'dd-MM-yyyy HH:mm')}"></td>
                <td th:text="${#temporals.format(batch.getModifyDate(), 'dd-MM-yyyy HH:mm')}"></td>
                <td th:text="${batch.getBatchCreator().getFullName()}"></td>
                <td th:text="${batch.getOwnPlant().getModel()} + ' ' + ${batch.getOwnPlant().getLocation()}"></td>
                <td th:text="${batch.getRecipeSource().getMixTitle()}"></td>
                <td th:text="${batch.getQuantity()}"></td>
                <td>
                    <form th:method="GET" th:action="@{/batches/{id}/edit(id=${batch.getId()})}">
                        <button type="submit" class="btn btn-success btn-sm">Редактировать</button>
                    </form>
                </td>
                <td>
                    <form th:method="DELETE" th:action="@{/batches/{id}(id=${batch.getId()})}">
                        <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                    </form>
                </td>

            </tr>
        </div>
        </tbody>
    </table>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>